#header {
  margin-bottom: 1.5em;
}

#footer {
  border-top: dotted 1px #777;
  border-bottom: dotted 1px #777;
}

#government-navigation .link-box {
  text-align: center;
  padding: 1.5em;
  border: solid 1px black;
}

#stylized-form .messages {
  margin-top: 0.3em;
  color: #ff3333;
  margin-bottom: 1.0em;
}
#stylized-form .password_strength {
  padding: 0.5em 1em 0.5em 1em;
  display: inline;
}
#stylized-form .password_strength_1 {
  background-color: #fcb6b1;
}
#stylized-form .password_strength_2 {
  background-color: #fccab1;
}
#stylized-form .password_strength_3 {
  background-color: #fcfbb1;
}
#stylized-form .password_strength_4 {
  background-color: #dafcb1;
}
#stylized-form .password_strength_5 {
  background-color: #bcfcb1;
}

#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: white;
}
* html #header {
  overflow-x: hidden;
}

#top-menu {
  width: 100%;
  background-color: #5555ff;
  text-align: right;
  font-size: 1.2em;
}
#top-menu ul {
  padding: 0px;
}
#top-menu li {
  float: left;
  list-style-type: none;
  color: white;
  padding-right: 6px;
  padding-left: 3px;
}
#top-menu li a {
  color: white;
  text-decoration: none;
}

.thumbs-up {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up.png);
}

.thumbs-up-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up_selected.png);
}

.thumbs-up-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up_not_selected.png);
}

.thumbs-down {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down.png);
}

.thumbs-down-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down_selected.png);
}

.thumbs-down-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down_not_selected.png);
}

.neutral {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral.png);
}

.neutral-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral.png);
}

.neutral-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral_not_selected.png);
}

table.admin tr:hover {
  background-color: #ddd;
}
table.admin td {
  border-bottom: solid 1px #ccc;
}
table.admin .highlight_missing {
  background-color: #E88;
}
table.admin .highlight_found {
  background-color: #8E8;
}
