#logo{
  padding-bottom: 9px;
}

.input{
  height:30px;
}

.login-form .input{
  height:20px;
}

table.vote-table th{
  padding-top:4px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:4px;
  margin-bottom:-5px;
}

.body{
  margin-top:-0px;
  height:400px !important;
}

.vote-table-wrap{
  height:430px;
}

.vote-table-cap{
  height:60px;
  background: #ffffff url("/images/bottom-cap.gif") no-repeat top left;
}

.vote-table-cap.myvoyce{
  width:702px;
  height:60px;
  background-color:#ffffff;
}

.paging{
  padding-top:10px;
  padding-bottom:10px;
}