body{
  background: url(../images/background.jpg) repeat-x top;
  background-color: #0b2952;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
}

a:link, a:visited{
  text-decoration: none;
  color: #235db3;
}

p{
  font-size: 12px;
  color: #666666;
  line-height: 18px;
  padding-bottom: 15px;
}

b, strong{
  font-weight: bold;
  color: #000000;
}

h1{
  font-size:22px;
  color: #666;
  font-weight: bold;
  line-height: 29.19px;
  padding-bottom: 15px;
}

h2{
  font-size: 19.46px;
  color: #113376;
  font-weight: bold;
  line-height: 29.19px;
  padding-bottom: 15px;
}

/***************************************************************** main div styles */
#main{
  background: url(../images/main-background.jpg) no-repeat top center;
  min-height: 689px;
}

/***************************************************************** header styles */
#header{
  height: 70px;
}

#header-content{
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 54px;
}

/************* counters */
.counter-area{
  width: 144px;
  height: 54px;
  float: left;
  padding: 0 50px 0 15px;
}

.counter-area p{
  text-align: center;
  color: #a72020;
  font-weight: bold;
  font-size: 9px;
  padding: 5px 0 0;
  letter-spacing: 0.17em;
}

.counter{
  background: url(../images/counter-bg.png) no-repeat;
  width: 144px;
  height: 29px;
  float: left;
}

.counter p{
  color: #ffffff;
  font-size: 17px;
  padding-top: 8px;
  letter-spacing: 0.01em;
}

/************* header navigation */
#header-nav{
  position: absolute;
  top: 23px;
  right: 159px;
}

#header-nav ul li{
  float: left;
  color: #ffffff;
  padding: 0 4.5px;
}

#header-nav ul li a{
  color: #235db3;
  font-size: 9.98px;
  font-weight: bold;
  letter-spacing: 0.07em;
}

#header-nav ul li a:hover{
  color: #ffffff;
}

/************* donate */
#donate{
  float: right;
  padding-right: 8px;
  position: relative;
}

/***************************************************************** container styles */
#container{
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

#logo{
  padding-left: 15px;
}

/*************** main nav styles */
#main-nav{
  position: absolute;
  right: 12px;
  top: 48px;
  width: 696px;
  z-index: 15;
}

#main-nav ul li{
  float: left;
}

#main-nav ul li a{
  display: block;
  width: 106px;
  height: 44px;
  text-indent: -9999px;
  text-transform: capitalize;
  color: transparent;
}

#main-nav ul li.ourvoyce a{
  background: url(../images/nav-ourvoyce.png) no-repeat;
}

#main-nav ul li.myvoyce a{
  background: url(../images/nav-myvoyce.png) no-repeat;
}

#main-nav ul li.corporate a{
  background: url(../images/nav-corporate.png) no-repeat;
}

#main-nav ul li.government a{
  background: url(../images/nav-government.png) no-repeat;
}

#main-nav ul li.media a{
  background: url(../images/nav-media.png) no-repeat;
}

#main-nav ul li.work a{ 
  background: url(../images/nav-work.png) no-repeat;
  width: 166px;
}

#main-nav ul li a:hover{
  background-position: 0 -44px;
}

#main-nav ul li.selected a{
  background-position: 0 -44px;
}

/*************** main content area styles */
#main-top{
  background: url(../images/content-top.png) no-repeat;
  width: 1000px;
  height: 14px;
  margin-top: 9px;
  position: relative;
  z-index: 5;
}

#main-content{
  background: url(../images/content-repeat.png) repeat-y;
  width: 1000px;
  min-height: 550px;
  position: relative;
}

#main-bottom{
  background: url(../images/content-bottom.png) no-repeat;
  width: 1000px;
  height: 14px;
  position: relative;
}

/************** home content styles*/
#content{
  overflow: hidden;
  margin: 0 auto;
  padding-top: 23px;
  width: 954px;
  position: relative;
}

#content-left{
  float: left;
  width: 336px;
  position: relative;
}

#content-right{
  float: left;
  width: 570px;
  padding-left: 23px;
  position: relative;
}


/****************** home page copy*/
#home-copy{
  background: url(../images/home-content.jpg) no-repeat center bottom;
  width: 570px;
  min-height: 211px;
}

#home-copy .home-headline{
  position: relative;
  z-index: 15;
  margin: -15px 0 0;
}

#home-copy p{
  width: 514px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#home-copy h2{
  width: 514px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

#home-vote{
  margin-top: -34px;
}

#home-vote ul{
  text-align: center;
  width: 100%;
  display: block;
}

#home-vote ul li{
  display: inline;
}

/***************************************************************** footer styles */
#footer{
  background: url(../images/footer-repeat.jpg) repeat-x top center;
  height: 255px;
  position: relative;
  background-color: #a3b7ca;
}

#footer-center{
  background: url(../images/footer-bg.jpg) no-repeat top center;
  height: 255px;
  position: relative;
}

#footer-content{
  width: 1000px;
  margin: 0 auto 0;
  position: relative;
}

#footer-content a{
  text-transform: uppercase;
  color: #99ccff;
  font-size: 9px;
}

#footer-content a:hover{
  color: #ffffff;
}

#footer-left{
  float: left;
  width: 455px;
  padding-top: 20px;
  padding-right: 33px;
}

#footer-left ul{
  float: right;
}

#footer-left ul li{
  float: left;
  padding: 0 12px;
}

#footer-right{
  float: left;
  width: 455px;
  padding-top: 20px;
  padding-left: 57px;
}

#footer-right ul{
  float: left;
}

#footer-right ul li{
  float: left;
  padding: 0 12px;
}

/* thumb styles */

.thumbs-up {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up.png);
}

.thumbs-up-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up_selected.png);
}

.thumbs-up-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_up_not_selected.png);
}

.thumbs-down {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down.png);
}

.thumbs-down-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down_selected.png);
}

.thumbs-down-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/thumbs_down_not_selected.png);
}

.neutral {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral.png);
}

.neutral-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral.png);
}

.neutral-not-selected {
  width: 30px;
  height: 30px;
  border: solid 0px black;
  cursor: pointer;
  background-image: url(../../images/site/neutral_not_selected.png);
}


/* thumb placement */

.thumbs-up, .thumbs-up-selected, .thumbs-up-not-selected, .thumbs-down, .thumbs-down-selected, .thumbs-down-not-selected, .neutral, .neutral-selected, .neutral-not-selected {
/*  display:block;*/
}

.support{
  display:none;
}

/* table styles */
table.head th, table.vote-table th{
  background: url(/images/graph-top.gif) repeat-x top;
  height:20px;
  padding-top:7px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:6px;
  text-align: center;
  color:#fff;
}

table.head th a, table.vote-table th a{
  color:#ffffff;
  font-weight:bold;
}

table.vote-table{
  width:535px;
}

.tiny-table-wrap table.vote-table{
  width:549px;
}

table.head{
  width:550px;
  padding-right:18px;
}

table.vote-table td{
  text-align:center;
}

table.vote-table tr td{
  padding-bottom:3px;
  padding-top:3px;
  margin-bottom:15px;
  padding-left:5px;
  padding-right:5px;
  vertical-align: middle;
  border-bottom:1px dashed #ddd
}

table.vote-table tr{
  vertical-align: middle;
}

table.vote-table .jq-corporation{
  text-align:center;
}

table.vote-table tr.selected{
  border-bottom: 2px solid #cb2124;
  border-top: 2px solid #cb2124;
}

.vote-table-wrap div.ui-widget-content{
  overflow-x:hidden;
}
.vote-table-wrap{
  clear:both;
  border-left:1px solid #1B3E80;
}

.tiny-table-wrap{
  clear:both;
  border-left:1px solid #1B3E80;
  border-right:1px solid #1B3E80;
}

.vote-table-top-cap{
   background:url(/images/top-full-cap.gif) bottom no-repeat;
   width:550px;
   height:3px;
}

.vote-table-cap{
   background:url(/images/bottom-cap.gif) no-repeat;
   width:550px;
   height:10px;
   margin-bottom:10px;
}

.vote-table-wrap h4{
  margin-top:10px;
  margin-bottom:0;
  font-size:18px;
  color: #1B3E80;
  text-align:center;
}

.vote-table-wrap.small{
  height:320px;
}

.vote-table-wrap.smaller{
  height:150px;
}

.left-content{
  float:left;
  width:550px;
}

.left-content h4{
  font-size:18px;
  color:#333;
}

.graph-contents{
}

#map{
  float:right;
  margin-top:8px;
  margin-right:10px;
  margin-bottom:10px;
}

#bar-graph{
  float:right;
}

.map-search{
  width:215px;
  float:right;
}

.map-search form{
  text-align:right;
}

.maps-container{
  padding-top:10px;
  width:370px;
  float:right;
  background:url(/images/map-rounded-back.gif) no-repeat top right;
}

.maps-container h4{
  color:#1b3e80;
  float:right;
  text-align:center;
  font-size:18px;
  width:370px;
  font-weight:bold;
}

.maps-container div.corp-title h4{
  float:left;
  width:240px;
  padding-left:50px;
}

.maps-container div.corp-title a{
  float:right;
  margin-right:5px;
}

th.limit {
  width:100px;
}

a.sort-button{
  width:88px;
  height:20px;
  text-align:center;
  display:block;
  float:left;
  padding-top:6px; 
  margin-right:1px;
  color:#333;
  background: url(/images/sort-tab-off.gif) no-repeat;
}

a.sort-button:hover{
  color:#ffffff;
  background: url(/images/sort-tab-on.gif) no-repeat;
}


a.sort-button.selected{
  color:#ffffff;
  background: url(/images/sort-tab-on.gif) no-repeat;
}

.page-title{
  width:550px;
}

.page-title h1{
  float:left;
}

.page-title form{
  float:right;
}

.filtering{
  width:550px;
  height:25px;
  padding-bottom:4px;
  background:url(/images/top-cap.gif) bottom right no-repeat;
}

div.paging{
  height:25px;
  margin-top:10px;
  margin-bottom:10px;
}

div.paging a, div.paging b{
  border:1px solid #aaa;
  background:#eee;
  padding:4px;
  padding-left:5px;
  padding-right:5px;
}

div.pr-pie{
  width:49px;
  height:38px;
  text-align:center;
  font-weight:bold;
  padding-top:12px;
  padding-left:1px;
  font-size:20px;
  display:inline-block;
}

#wikipedia{
}

#website{
}

.clear{
  width:100%;
  clear:both;
}

.link-box{
  width:105px;
  height:28px;
  color:#333 !important;
  text-align:center;
  font-size:18px;
  font-weight:bold;
  padding-top:6px;
  background:url(/images/type-off.png);
  display:block;
}

.link-box.selected{
  color:#fff;
  background:url(/images/type-on.png);
}

.section-nav{
  width:550px;
  height:36px;
  clear:both;
  margin-bottom:10px;
}

.section-nav a{
  float:left;
  margin-right:5px;
}