.new-account-form
  %h2 Create a New Account
  .container
    =render :partial => 'shared/account/edit'

.or-middle
  %span

.login-form
  %h2 Log In
  .container
    = render :partial => 'shared/account/login'

