%br
ourvoYce Password Reset
%p= "Reset your password by visiting #{@password_reset_url}."
%br
If the following does not show up as a link, copy the address and paste it into your browser's address bar.
%br
%br
http://ourvoyce.com
%br
Thank you for participating.