
Welcome to ourvoYce! Thank you for participating. Please click the link below to verify your email address:

Are you an iPhone user? Get the ourvoYce app! You can scan product bar codes as well as QR codes and of course you can vote on them. The app will also let you access your entire ourvoYce account so that you can vote on Corporations, Government and Media from anywhere. Search for ourvoYce in the App Store. It's free!

If the following does not show up as a link, copy the address and paste it into your browser's addressb bar. 

= "#{@verification_url}"

