<div id="footer">
<div id="footer-center">
  <div id="footer-content">
    <div id="footer-left">
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div id="footer-right">
      <ul>
        <li><a href="http://www.facebook.com/pages/ourvoYce/106886149350027" target="_blank">Facebook</a></li>
        <li><a href="http://www.twitter.com/ourvoYce" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
</div>