<div id="footer">
<div id="footer-center">
  <div id="footer-content">
    <div id="footer-left">
      <ul>
        <li><a href="/about">About ourvoYce</a></li>
        <li><a href="/contact">Contact ourvoYce</a></li>
      </ul>
    </div>
    <div id="footer-right">
      <ul>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</div>
</div>