#government-navigation.prepend-3.last
  .span-6
    .link-box
      = link_to "Executive", :executive
  .span-6
    .link-box
      = link_to "Legislative", :legislative_state
  .span-6.last
    .link-box
      = link_to "Agency", :agency
