%div.government-navigation.section-nav
  = link_to "Executive", :executive, :class=> "link-box"
  = link_to "Legislative", :legislative_state, :class=> "link-box"
  = link_to "Agency", :agency, :class=> "link-box"
  %div.clear
