<div id="logo"><a href="/"><img src="/images/logo.png" alt="ourvoYce be counted"></a></div>


<div id="main-nav">
  <%= render_navigation %>
</div>

<!-- <div id="main-nav">
  <ul>
    <li class="ourvoyce"><a href="#">ourvoyce</a></li>
    <li class="myvoyce"><a href="#">myvoyce</a></li>
    <li class="corporate"><a href="#">corporate</a></li>
    <li class="government"><a href="#">government</a></li>
    <li class="media"><a href="#">media</a></li>
    <li class="work"><a href="#">how does this work?</a></li>
  </ul>
</div> <!-- end main nav --> -->