<script type="text/javascript">
	var state = "";
  var model = '<%= model %>';
	var curID = "<%= id %>";

	function setState(st){
	  state = st;
	  sendToGraph(model + "/age/" + curID + "/" + state);
	}
	
	function sendToMap(dataString) {
    thisMovie("map").sendTextToFlash(dataString);
  }
  
  function sendToGraph(dataString) {
    thisMovie("bar-graph").sendTextToFlash(dataString);
    //alert("sending to graph " + dataString);
  }
	
	$(document).ready(function(){
	  function getFlashMovie(movieName) { 
      var isIE = navigator.appName.indexOf("Microsoft") != -1;
      return (isIE) ? window[movieName] : document[movieName];
    }
	  
	  //alert("ready!");
	  $("a.dataset").click(function(){
	    $(".selected").removeClass("selected");  //remove the selected items
	    $(this).parent().parent().addClass("selected");  //add selected to the clicked item
	    
	    var text = $(this).text();
	    
	    //fade the text
	    $("h4.map-title").fadeOut(500, function(){
	      $(this).text(text);
	      $(this).fadeIn(500);
	    });
	    
      curID = $(this).attr("href").split('_')[0]
      model = $(this).attr("href").split('_')[1]
	    
	    sendToMap(model + "/map/" + curID + "/");  //send to the map
	    sendToGraph(model + "/age/" + curID + "/" + state);  //send to the graph
	    
	    return false;
	  });
	});

  function thisMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
      return window[movieName];
    } else {
      return document[movieName];
    }
  }
	
	var mapvars = {
	  xmlpath: model + "/map/" + curID + "/",
	  baseURL:"/services/website/"
	};
	
	var agevars = {
	  xmlpath: model + "/age/" + curID + "/",
	  baseURL:"/services/website/",
	  barwidth: 25
	};
	
  var params = {
      menu: "false",
      wmode: "transparent"
  };
  var attributes = {
    allowfullscreen: "true",
    allowscriptaccess: "always"
  };

  swfobject.embedSWF("/swf/map.swf", "map", "300", "250","10.0.0", params, mapvars, attributes);
  swfobject.embedSWF("/swf/bar-graph.swf", "bar-graph", "350", "250","10.0.0", params, agevars, attributes);

</script>

<h4 class="map-title"><%= title.nil? ? "" : title %></h4>
<div id="map"></div>
<div id="bar-graph"></div>
