%a{:href => register_url}
  = form_tag register_url do
    %div{:style => 'white-space: nowrap; text-align: center;'}
      %input{:type => "submit", :class => "thumbs-up", :value => ''}
      %input{:type => "submit", :class => "neutral", :value => ''}
      %input{:type => "submit", :class => "thumbs-down", :value => ''}
      %br
      Join to Vote
