@import "blueprint/grid";
@import "blueprint/debug";

.container {
    //@include showgrid;
}

#header {
    margin-bottom: 1.5em;
}

#footer {
    border-top: dotted 1px #777;
    border-bottom: dotted 1px #777;
}

#government-navigation {
    .link-box {
        text-align: center;
        padding: 1.5em;
        border: solid 1px black;

    }
}


#stylized-form {
    .messages{
        margin-top: 0.3em;
        color: #ff3333;
        margin-bottom: 1.0em;
    }

    .password_strength {
        padding: 0.5em 1em 0.5em 1em;
        display: inline;
    }

    .password_strength_1 {
        background-color: #fcb6b1;
    }

    .password_strength_2 {
        background-color: #fccab1;
	}

    .password_strength_3 {
        background-color: #fcfbb1;
	}

    .password_strength_4 {
        background-color: #dafcb1;
	}

    .password_strength_5 {
        background-color: #bcfcb1;
	}

}


#header
{
    @include column(24);
    background-color: white;
}

#top-menu
{
    width: 100%;
	background-color: #5555ff;
    text-align: right;
    font-size: 1.2em;

    ul{
        padding: 0px;
    }

    li
    {
        float: left;
        list-style-type: none;
        color: white;
        padding-right: 6px;
        padding-left: 3px;
        a
        {
            color: white;
            text-decoration: none;
        }
    }
}

@mixin vote-button-common
{
	width: 30px;
	height: 30px;
	border: solid 0px black;
	cursor: pointer;
}

.thumbs-up
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_up.png);
}

.thumbs-up-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_up_selected.png);
}

.thumbs-up-not-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_up_not_selected.png);
}

.thumbs-down
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_down.png);
}

.thumbs-down-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_down_selected.png);
}

.thumbs-down-not-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/thumbs_down_not_selected.png);
}

.neutral
{
	@include vote-button-common;
	background-image: url(../../images/site/neutral.png);
}

.neutral-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/neutral.png);
}

.neutral-not-selected
{
	@include vote-button-common;
	background-image: url(../../images/site/neutral_not_selected.png);
}


table.admin{
  tr:hover{
    background-color: #ddd;
  }
  td{
    border-bottom: solid 1px #ccc;
  }
  .highlight_missing{
    background-color: #E88;
  }
  .highlight_found{
    background-color: #8E8;
  }
}

table.admin-government{
}
