<div id="content-left">
  <img src="images/home-left.jpg" />
</div><!-- end home left -->
<div id="content-right">
  <img src="images/home-map.jpg" />
  <div id="home-copy">
    <div class="home-headline"><img src="images/wheredoyoustand.png" alt="where do you stand?" /></div>
    <p><strong>Social Topic Title Will Go Here.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <h2>Vote Now. Be counted.</h2>
  </div> <!-- end home copy -->
  <div id="home-vote">
    <ul>
      <li><a href="#"><img src="images/vote-thumbsup.png" /></a></li>
      <li><a href="#"><img src="images/vote-n.png" /></a></li>
      <li><a href="#"><img src="images/vote-thumbsdown.png" /></a></li>
    </ul>
  </div>
</div><!-- end home-right -->
</div>