<div id="contact">
<h2>Contact ourvoYce</h2>
<p>Please contact us via email at <a href="mailto:contact@ourvoyce.com">contact@ourvoyce.com</a></p>

<br />
<br />

<h2>Interested in what ourvoYce has to offer Corporations, Government and the Media?</h2>
<p>Send an email to <a href="mailto:show.me.the.data@ourvoyce.com">show.me.the.data@ourvoyce.com</a></p>
</div>

