<div id="donate">
<h2>Why should I donate to ourvoYce?</h2>
<p>Building and hosting a website and iPhone app like ourvoYce is expensive. That's simply the reality of the situation and ourvoYce has been built by a small group of people with no outside funding. That's how committed we are to the ourvoYce idea.</p>

<p>We have a lot of very interesting ideas for how ourvoYce will make money, but it is going to take time before money is actually coming in instead of just going out. Your donations will be used to help pay for the hosting costs related to maintaing the website and to continue to build many of the features that we were not able to include in this first release.</p>

<p>By supporting ourvoYce with a donation, you will help to ensure that the site stays around long enough the reach the critical mass where it could actually start to have impact in the real world. Any donation amount is greatly appreciated. Can you spare $5, $10 or $20 dollars to support an idea that gives a voice to the people?</p>

<p>Donations are not tax deductible. ourvoYce is a for profit company that is asking for a financial gift from people to help with the cost of maintaining the website. Click the Donate button below to give a gift through PayPal. You do not need a PayPal account to donate.</p>

<p>Thank you,</p>

<p>The ourvoYce Team</p>

<div id="donate-button">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YL99BHV7HWQCG" target="_blank"><img src="/images/donate.png" alt="donate" /></a>
  <p>Click this button to donate through PayPal.</p>
</div>



</div>