<% content_for :scripts do %>
<%= javascript_include_tag "how_does_this_work.js" %>
<% end %>

<div id="how-does-this-work">
<h2>How does this work?</h2>

<h3 id="what">What is ourvoYce?</h3>
<div id="what_description">
<p>ourvoYce is a social tool designed to gather people's opinions. The ourvoYce website and iPhone app show this opinion data as numbers as well as on maps and bar charts in an effort to add meaning to our collective opinions. One of the goals of ourvoYce is to help each of us gain a better understanding of who we are and what we want. </p>

<p>The ourvoYce idea is simple. We the people should vote on everything and we should vote often.</p>

<p>Think of ourvoYce as an interesting social experiment that could be so much more. We live in a society where three main systems have a significant amount of influence over many of the aspects of our personal lives. These systems are Corporations, Government and Media. Each of these systems were made by us, are maintained by us and ultimately work for us. There's a problem, though. Each of these systems have lost their way in their relentless pursuit of increasing profits, election victories and advertising dollars. ourvoYce was designed to give us a tool that we can use to communicate with these systems in the only language they understand. Numbers.</p>

<p>ourvoYce lets you vote on Fortune 500 Corporations, Government officials, a variety of Media sources and individual products. ourvoYce uses these votes to calculate a simple grade that we can use to determine how we feel about these important parts of our society. This grade is called a Social Score and it allows us to rank and compare anything we choose.</p>
</div>

<h3 id="why">Why should I participate?</h3>
<div id="why_description">
<p>You have a lot of opinions and you should not let them go to waste. Consider how often you are asked to complete a survey for a Corporation in exchange for a chance to win something. There is a strong need in the business world to understand what consumers want and ourvoYce is designed to help them find out. Our opinions are a truly renewable resource that we should be harvesting.</p>
</div>

<h3 id="social">What is a Social Score?</h3>
<div id="social_description">
<p>A Social Score is a number from 0 to 100 that represents the percentage of people that gave a Thumbs Up vote for an item. This is the same as an elected official's approval rating or a grade on a test. It is simply the percentage of people that have a positive opinion.</p>
</div>

<h3 id="participation">What is a Participation Rate?</h3>
<div id="participation_description">
<p>A Participation Rate is a number from 0 to 100 that represents the percentage of ourvoYce users that voted on an item. This is similar to a voter turnout figure and adds meaning to the Social Score by telling you if the opinion represents a large or small group of users.</p>
</div>

<h3 id="sspr">What is an SS PR?</h3>
<div id="sspr_description">
<p>The Social Score and Participation Rate make up the SS PR and are always shown together. The Social Score is shown as a number on top of a pie chart that represents the Participation Rate. These numbers are one of the tools used to compare anything in the ourvoYce system.</p>

</div>
<h3 id="multiaccount">Can I have more than one account?</h3>
<div id="multiaccount_description">
<p>No. It is important that users only have one account. After all, you are only one person and your votes should count the same as everyone else's votes. ourvoYce reserves the right to disable or delete accounts that are determined to be fraudjulant. Only one account please.</p>
</div>

<h3 id="onlyus">Is ourvoYce only for the United States?</h3>
<div id="onlyus_description">
<p>No, anyone in any country is welcome to participate. For now we are only able to show data gathered from people in the US, but hopefully that will change soon. If you are not in the US, simply select your country when creating your account. We will be able to determine which countries to work on next based on the location of the users that sign up.</p>
</div>

<h3 id="seevotes">Do I have a public profile page?</h3>
<div id="seevotes_description">
<p>No. There are no public profile pages or tools for sharing your votes with other users at this time. We may add sharing features in the future if the users tell us that's what they want. One of the ideas we are working on is creating OV-Codes for specific features so that the users can vote on how ourvoYce should work.</p>
</div>

<br /><br />
<h3 id="more">More coming soon...</h3>
<div id="more_description">
<p>Don't waste anymore clicks here...go vote!</p>
</div>
</div>
