<% content_for :scripts do %>
<%= javascript_include_tag "how_does_this_work.js" %>
<% end %>

<div id="how-does-this-work">
<h2>How does this work?</h2>

<h3 id="what">What is ourvoYce?</h3>
<div id="what_description">
<p>ourvoYce is a social tool designed to gather people's opinions. The ourvoYce website and iPhone app show this opinion data as numbers as well as on maps and bar charts in an effort to add meaning to our collective opinions. One of the goals of ourvoYce is to help each of us gain a better understanding of who we are and what we want. </p>

<p>The ourvoYce idea is simple. We the people should vote on everything and we should vote often.</p>

<p>Think of ourvoYce as an interesting social experiment that could be so much more. We live in a society where three main systems have a significant amount of influence over many of the aspects of our personal lives. These systems are Corporations, Government and Media. Each of these systems were made by us, are maintained by us and ultimately work for us. There's a problem, though. Each of these systems have lost their way in their relentless pursuit of increasing profits, election victories and advertising dollars. ourvoYce was designed to give us a tool that we can use to communicate with these systems in the only language they understand. Numbers.</p>

<p>ourvoYce lets you vote on Fortune 500 Corporations, Government officials, a variety of Media sources and individual products. ourvoYce uses these votes to calculate a simple grade that we can use to determine how we feel about these important parts of our society. This grade is called a Social Score and it allows us to rank and compare anything we choose.</p>
</div>

<h3 id="why">Why should I participate?</h3>
<div id="why_description">
<p>Good question. Why would a person sign a petition, write their representative, participate in boycott or march in a protest? ourvoYce believes the answer is that those actions can result in a real world change. Getting large numbers of people to organize around a common idea has a long tradition of creating postive change in our society. ourvoYce is designed to allow like minded people to organize around ideas in a way that will help the system understand and quantify our collective point of view. It is in the system's best interest to understand what we the people really want and it is our responsibility to make that information available.</p>
<p>You have a lot of opinions and you should not let them go to waste. Consider how often you are asked to complete a survey for a Corporation in exchange for a chance to win something. There is a strong need in the business world to understand what consumers want and ourvoYce is designed to help them find out. Politicians regularly use opinion polls as tools to better understand how the voters want them to govern. ourvoYce allows us to expand on that idea by letting us tell them our opinion of the job they are doing at any time.</p>

<p>Our opinions are a truly renewable resource that we should be harvesting. This is accountability by the people.</p>
</div>

<h3 id="social">What is a Social Score?</h3>
<div id="social_description">
<p>A Social Score (SS) is a number from 0 to 100 that represents the percentage of people that gave a Thumbs Up vote for an item. This is the same as an elected official's approval rating or a grade on a test. It is simply the percentage of people that have a positive opinion.</p>
<p class="example">
      <img src="/images/help/sspr-8025.png" alt="SS PR: 80 25" />
      The number 80 in this example is the Social Score. This means that 80% percent of the people that voted on this item gave it a Thumbs Up vote. That's pretty good.
</p>
<p class="example">
    <img src="/images/help/sspr-1145.png" alt="SS PR: 11 45" />
    The number 11 in this example is the Social Score. This means that 11% percent of the people that voted on this item gave it a Thumbs Up vote. That's not so impressive.
</p>
</div>

<h3 id="participation">What is a Participation Rate?</h3>
<div id="participation_description">
<p>A Participation Rate (PR) is a number from 0 to 100 that represents the percentage of ourvoYce users that voted on an item. This is similar to a voter turnout figure and adds meaning to the Social Score by telling you if the opinion represents a large or small group of users.</p>
<p class="example">
  <img src="/images/help/sspr-8025.png" alt="SS PR: 80 25" />
  The blue pie chart behind the number is the Participation Rate. In this example the pie chart shows that a quarter of the users voted on this item, so the PR is 25%.
</p>
<p class="example">
  <img src="/images/help/sspr-1145.png" alt="SS PR: 11 45" />
  In this example, the pie chart shows that 45% of the ourvoYce users voted on this item. Participation Rates are always shown as pie charts and the numbers are always shown in increments of 5.
</p>
</div>

<h3 id="sspr">What is an SS PR?</h3>
<div id="sspr_description">
<p>The Social Score and Participation Rate together make up the SS PR and are always shown as a number (SS) over a pie chart (PR). These numbers are one of the tools used to compare anything in the ourvoYce system. Let's look at the examples we've been working with so far and see how these numbers are used to compare the two items.</p>
<p class="example">
  <img src="/images/help/sspr-8025.png" alt="SS PR: 80 25" />
  The SS PR in this example is 80 25 which tells us that 25% of the ourvoYce users voted on this item by giving it a Thumbs Up, Thumbs Down or Neutral vote. 80% of those votes were Thumbs Up. In other words, only 1 in 4 users actually voted but 8 out of 10 gave it a Thumbs Up vote.
</p>
<p class="example">
  <img src="/images/help/sspr-1145.png" alt="SS PR: 11 45" />
  The SS PR in this example is 11 45 which tells us that 45% of the ourvoYce users voted on this item. 11% of those votes were Thumbs Up. In other words, the Social Score for this item is much lower and is based on the opinions of a larger group of users.
</p>
<p>Understanding how these numbers relate to one another will allow you to compare and rank anything in the ourvoYce system. For example, a high SS with a low PR indicates something that is liked by a small group of users. On the other hand, a low SS with a high PR is something that is disliked by a large group of users. There are many possible combinations of these numbers and understanding how they work together will provide a new and interesting insight on how we feel about our Corporations, Government and the Media.</p>
</div>


<h3 id="legend">What are the colors for on the maps and bar charts?</h3>
<div id="legend_description">
<p>The maps are provided to show the specific states and zip codes where ourvoYce users are located. The bar charts are used to show the number of ourvoYce users in each age group. The colors on the maps and bar charts are green, orange or red depending on the overal Social Score for the selected item in that state, zip code or age group. For each of these, an SS > 55 will be green, an SS < 45 will be red and an SS between 45 and 55 will be orange. Clicking on any of the votable items in ourvoYce will update the map and bar chart to show the specific opinion data for that item. Let's consider a few examples on the Corporate screen to help clarify this idea.</p>
    
    <p class="example">
      <img src="/images/help/color-age.png" alt="Age Group with SS > 55" />
      <b>Green Bar</b>: This shows that the collective SS in 30-39 and 40-49 age groups is > 55 for the selected item. The taller bar in the 30-39 age group also indicates that there are more opinions included in this group than in the 40-49 age group. Both age groups have an overal positive SS in this example, but different age groups will often have different opinions and be shown with different colors. There are no votes in the 20-29 age group for this item.</p>
    <br /><br /><br />

    <p class="example">    
    <img src="/images/help/color-state.png" alt="State with SS > 45 and SS < 55" />
    <b>Orange State</b>: This shows that the collective SS in North Carolina is between 45 and 55 for the selected item. You can click on any state to zoom in and see any zip codes in the state that contain opinion data. The fact that the surrounding states are not green, orange or red indicates that they do not have any opinion data for the selected item.</p>
    <br /><br /><br />

    <p class="example">
    <img src="/images/help/color-zip.png" alt="Zip Code with SS < 45" />
    <b>Red Dot</b>: This shows that the overall SS in the zip code is < 45 for the selected item. The size of the zip code dot will vary depending on the Participation Rate with a larger dot indicating a higher PR. This example shows 2 zip codes near each other which causes them to overlap.</p>
    <br /><br /><br />

<p>Note that the default ourvoYce page shows all states, zip codes and age groups in blue. This is because no opinions are being shown on this page. The purpose here is to show the location and ages of the entire group of ourvoYce users. This screen is unique because it gives an overview of the entire user base instead of providing information about specific opinions.</p>
</div>


<h3 id="multiaccount">Can I have more than one account?</h3>
<div id="multiaccount_description">
<p>No. It is important that users only have one account. After all, you are only one person and your votes should count the same as everyone else's votes. ourvoYce reserves the right to disable or delete accounts that are determined to be fraudjulant. Only one account please.</p>
</div>


<h3 id="onlyus">Is ourvoYce only for the United States?</h3>
<div id="onlyus_description">
<p>No, anyone in any country is welcome to participate. For now we are only able to show data gathered from people in the US, but hopefully that will change soon. If you are not in the US, simply select your country when creating your account. We will be able to determine which countries to work on next based on the location of the users that sign up.</p>
</div>

<h3 id="seevotes">Do I have a public profile page?</h3>
<div id="seevotes_description">
<p>No. There are no public profile pages or tools for sharing your votes with other users at this time. We may add sharing features in the future if the users tell us that's what they want. One of the ideas we are working on is creating OV-Codes for specific features so that the users can vote on how ourvoYce should work.</p>
</div>

<br /><br />
<h3 id="more">More coming soon...</h3>
<div id="more_description">
<p>Don't waste anymore clicks here...go vote!</p>
</div>
</div>
