<h2>Privacy Policy</h2>

<div class="legal">

<p class="legal">
Updated as of April 11, 2011
</p>

<ol class="number">

<li>ourvoYce respects your privacy and is committed to maintaining the privacy and confidentiality of personal data we collect. The purpose of our Privacy Statement is to demonstrate our firm commitment to the privacy and protection of all persons who provide personal data to ourvoYce and its affiliates. This Privacy Statement describes the ways we collect information from and about you, and what we do with the information, so that you may decide whether or not to provide information to us. By visiting ourvoYce websites or are otherwise providing your personal information to ourvoYce via any other means, you are accepting and consenting to the practices described in this Privacy Statement. For purposes of this Privacy Statement, the term “visitor” includes visitors to our websites who are not yet members, those who become members, as well as those who do not become members. You can choose not to provide certain information when using our websites but then you might not be able to take advantage of many of its features.</li>

<li>What do we collect and where?</li>
The information we collect may include your personal information, such as a unique user name, email address, birth year, zip code and IP addresses.
Generally, we may collect information about you in the following manners: 
1. you may provide your personal information to us via email or other written correspondence, telephone calls, web based forms, or other means; 
2. we use automated technical means to collect information about all website visitors for example by use of cookies;
When you submit a vote on our Website, our server logs your IP address (unique network addresses)</li>

<li>Links to non-ourvoYce Websites 
We may provide links to third-party websites for your convenience and information. The privacy practices of those sites may differ from ourvoYce practices and are not controlled by ourvoYce and covered by this Privacy Statement. We do not make any representations about third-party websites. We encourage you to review their privacy policies before submitting your personal data.</li>
<li>Changes
Our Privacy Statement may change from time to time. You should check our website frequently to see recent changes, however, we will never materially change our policies and practices to make them less protective of personal information collected in the past without your prior consent. This Privacy Policy was last updated on April 11, 2011.</li>

</ol>
</div>