<h2>Privacy Policy</h2>

<div class="legal">

<p class="legal">
Last modified, April 28, 2011
</p>

<ol class="number">

  <li><b>ABOUT THIS PRIVACY POLICY.</b></li>
    <ol class="letter">
      <li>We are EfficiencyLab, LLC, a North Carolina Limited Liability Company with an address at 124 North Main Street, Weaverville, NC 28787. This Privacy Policy applies to <b>www.ourvoYce.com</b> (the "Website") which is owned and operated by us.</li>   

      <li>This Privacy Policy applies to everyone who visits the Website ("Visitors"), and to Visitors who become "Members" who are permitted to vote "thumbs up," "thumbs down" or "neutral" on products, corporations, government officials, governmental bodies, and other entities and things of public interest (which, together with all other benefits for Members, constitute "Membership Services").</li> 

      <li>This Privacy Policy explains how we may collect information about Visitors and Members and how we may use and/or disclose such information.  Visitors are also subject to our Website "Terms of Service," and Members are also subject to our "Membership Agreement."</li>

      <li><b>THIS PRIVACY POLICY MAY BE MODIFIED WITHOUT PRIOR NOTICE.  PLEASE CHECK THE "Last Modified" DATE ABOVE TO DETERMINE IF IT'S BEEN MODIFIED SINCE YOUR LAST VISIT.  MODIFICATIONS BECOME EFFECTIVE UPON BEING POSTED ON THE WEBSITE.</b></li>

      <li><b>EACH VISTOR BY ACCESSING THE WEBSITE, AND EACH MEMBER BY ACCESSING THE WEBSITE AND/OR BY USING ANY MEMBERSHIP SERVICE ACCEPTS THIS PRIVACY POLICY (AS IT MAY, FROM TIME TO TIME, BE MODIFIED).</b></li>
    </ol>


  <li><b>SUMMARY OF PRIVACY POLICY.</b>  Subject to this Privacy Policy as a whole, here are points of particular interest:</li>

  <br/>

  <b>Q: CAN ANYONE SEE HOW I VOTED?</b><br/>
  <b>A:</b> No. Member votes can only be seen by the Member who made them, and by us. Members currently cannot see the votes of other individual Members.  We do not provide public profile pages or tools to enable Members to share their votes with the public, or privately with other Members.   

  <br/><br/>

  <b>Q: ARE VOTE TALLIES KEPT SECRET?</b><br/>
  <b>A:</b> No. Publicizing vote tallies -- the way votes add up -- is part of the idea of ourvoYce! The more your opinions are known, the more they may matter. We plan statistically to analyze votes to help us learn (as examples) what people are feeling, how those feelings many change over time, and how they may vary from place to place, and among people of different ages. We may disclose some of our conclusions publicly on the Website, or to the persons and entities about which Members have voted, or on a commercial basis.  However, such disclosures will reflect multiple votes without revealing the how any particular individual Member voted.

  <br/><br/>

  <b>Q:  WILL WE GIVE YOUR PERSONALLY IDENTIFIABLE INFORMATION TO DIRECT MARKETING COMPANIES?</b><br/>
  <b>A:</b> No. Members are required to provide their age, Zip code, email address, and a password to access their Member's account.  We may keep records of your internet protocol ("IP") address and/or other technical information that helps us to provide Membership Services (an IP address is the number automatically assigned to your computer or mobile device to enable information to be routed to it as you browse the Internet).  We will not disclose that or other information that could identify you (collectively, "Personally Identifiable Information") to direct marketing companies except with your permission in advance.


  <li><b>HOW WE COLLECT INFORMATION</b></li>
    <ol class="letter">
      <li>There may be times, such as when you email us or sign up to become a Member, when we may obtain Personally Identifiable Information about you. We may also gather Personally Identifiable Information when you voluntarily provide it by (as examples) choosing to participate in online surveys or requests for your feedback about our Website and/or Membership Services.  In addition, we may save log files which record your IP address when you visit our site which could provide information about your geographical location when you access the Website. We may also gather and store information about your visit, such as the type of browser and operating system you use, the date and time you access the site, the pages you visit, the address of the website you arrived from (if you did not access our Website directly) and the website you visited when you leave the Website.</li>

      <li>We may enable Visitors and Members to access the Website using an iPhone or other wireless device.  Such access may use information about your wireless device including the device type, the device's Universally Unique Identifier, and/or other information specific to the wireless device.</li> 

      <li>"Cookies" are small files commonly used by Internet browsers to help identify return visitors and their preferences. We may automatically place Cookies on the computer or other device you use to access the Website to help personalize your experience.  Internet browsers typically give users the option, if they choose, to decline and/or to delete Cookies.  When Members choose to decline or delete Cookies, certain features of our Website may not properly function as a result.</li>

      <li>Our Website may contain links to other Internet destinations to which this Privacy Policy may not apply.  We encourage you to read the privacy policies that apply to those destinations, but we are not responsible for them, or for their use or disclosure of any information they may collect.</li>
    </ol>


  <li><b>HOW WE MAY USE INFORMATION</b></li>
    <ol class="letter">
      <li>We may use the information we collect, including Personally Identifiable information, internally in ways that will not make it public.  As examples, we may use IP addresses to verify the Zip code given by Members to identify their locations.  If you access the Website using a wireless device we may use information about your device, such as its type and Universally Unique Identifier, to connect to the device, and to properly format information sent to it.  We plan to use and temporarily store such information only to the extent technically necessary to provide access to the Website and to provide Membership Services.</li>

      <li>We plan statistically to analyze the information we collect, including Personally Identifiable Information, and to compile the results.  Such compilations ("Compilations") will aggregate and/or summarize the information of multiple Visitors and/or Members, and may help us to make conclusions about (as examples) what people are thinking based on age, or the part of the country they live in.  We may sell, share or publicize such Compilations, but not in a way that would reveal any individual's Personally Identifiable Information, or any individual Member's votes.</li>

      <li>We may use a Member's email address to (A) restore a Member's password (on the Member's request), (B) to request feedback from Members, and (C) to give notice about our upcoming plans or Website changes.  We may also use your email address to invite you to receive information from third parties that we believe you may find interesting, but we will not disclose your email address or other Personally Identifiable Information to such third parties without your permission in advance.</li>

      <li>We will not sell or otherwise disclose Personally Identifiable Information except (A) as specified in this Privacy Policy, (B) when we believe in good-faith that such action is necessary to comply with a court order or legal process, or otherwise to comply with the law, and (C) to enforce this Privacy Policy or our Terms of Service or Membership Agreement.</li>
    </ol>


  <li><b>RIGHT TO OPT-OUT.</b></li> In the event we send email to you to request feedback, or to give notice about upcoming plans or Website changes, or to invite you to receive information from third parties you will be provided with information enabling you to opt out of future such emails.


  <li><b>PROTECTION OF CONFIDENTIAL INFORMATION.</b></li> We safeguard your Personally Identifiable Information using at least reasonable or industry standard encryption and other security methods, and by making your Personally Identifiable Information accessible only to authorized personnel (employees, or contractors subject to an obligation of confidentiality) as needed to create, maintain and  provide the Website and Membership Services. <b>Despite these measures, there is a risk (which you accept by using the Website and/or Membership Services) that Personally Identifiable Information that you provide to us will be intercepted or otherwise disclosed by third parties.</b>


  <li><b>RETROACTIVITY OF MODIFICATIONS; SUCCESSORS</b></li>
    <ol class="letter">
      <li>Modifications to our Privacy Policy that would affect your Personally Identifiable Information will not be retroactive, unless you agree otherwise.</li>

      <li>If we become involved in a merger, acquisition, or any other form of sale of some or all of our assets, we will provide for the continued confidentiality of your Personally Identifiable Information in accordance with this Privacy Policy by any successor company.</li>
    </ol>


  <li><b>CONTACTING US.</b></li> Communications regarding our Privacy Policy may be sent to us at privacy@ourvoyce.com.  We reserve the right not to respond to communications about privacy issues sent using other methods or other email addresses, and not to respond to more than one request per Visitor or Member per year.

  <li><b>SPECIAL RULES AND RIGHTS FOR CALIFORNIA RESIDENTS</b></li>
    <ol class="letter">
      <li>Section 1798.83 of the California Civil Code (the "Shine the Light" law") gives residents of California the right to request certain information from a business with whom the resident has an established business relationship when the business has shared the resident's Personally Identifiable Information with third parties.  The business may be required to disclose (A) the nature of the Personally Identifiable Information shared and (B) the identities of the third parties who received it, in each case during the immediately preceding calendar year.</li>

      <li>To request information about you under the Shine the Light law, please contact us by email to privacy@ourvoyce.com, and we will respond appropriately.   However, we do not waive any right we may have under the law to refrain from disclosing such information.  Among other things, as explained above, we do not share your Personally Identifiable Information to direct marketing companies without your permission in advance. In addition, we may be exempt from the Shine the Light law based on the number of our employees, or for other reasons.</li>
    </ol>


  <li><b>CHILDREN.</b></li> We are in compliance with the requirements of the Federal Children's Online Privacy Protection Act because we do not collect personal information from anyone under 13 years of age. 


  <li><b>INTERNATIONAL USERS.</b></li> For now, Membership and Membership Services are available only to citizens and residents of the United States of America.

</ol>
</div>