<style type="text/css">
div.terms {
overflow: auto;
height: 460px;
padding: 10px;
border: solid 2px #ddd;
}

h3.terms {
margin-bottom: 5px;
}

p.terms {
margin-left: 20px;
font-size: 14px;
border: solid 0px blue
}
</style>

<h2>Terms of Service</h2>

<div class="terms">
<pre>
By visiting EfficiencyLab, LLC's www.ourvoYce.com (the "Website") you agree to 
these Terms of Service ("TOS") which become a binding legal agreement between us.

Updated as of March 18, 2011

1.	This is an agreement; the Purposes of the Website.

A.  You are an visitor ("Visitor") to the Website. BY ACCESSING THE WEBSITE, YOU INDICATE THAT YOU HAVE READ AND UNDERSTOOD THE TOS, AND AGREED TO BE BOUND BY THEM.

B.  We are EfficiencyLab, LLC, a North Carolina Limited Liability Company ("EfficiencyLab"), 124 North Main Street, Weaverville, NC 28787 which owns and operates the Website.  The purpose of the Website is principally to enable Website visitors who become "Members"  to vote "thumbs up," "thumbs down" or "neutral" on products, corporations, government officials, governmental bodies, and other entities and things of public interest.  EfficiencyLab plans statistically to evaluate and process such votes, and to make some results accessible to Members, and some results accessible to Visitors, and to keep some results confidential to EfficiencyLab.

2.	Related Agreements.

A.  The TOS applies to Visitors.  We may from time to time change the TOS, as the "Updated" date above will indicate. Your use of our Site following any such change constitutes your agreement to follow and be bound by the changed version.  A copy of the current TOS is posted at http://www.ourvoyce.com/terms.

B.  Our Privacy Policy explains how EfficiencyLab plans to collect, use and disclose information.  As a condition of accessing the Website, Visitors are also required to accept and agree to the Privacy Policy, as it may be updated from time-to-time, and posted at http://www.ourvoyce.com/members.   IF YOU DO NOT ACCEPT ANY OF THE TERMS AND CONDITIONS OF THE TOS, OR IF YOU DO NOT ACCEPT OUR PRIVACY POLICY, PLEASE EXIT THE WEBSITE NOW AND CEASE ACCESSING IT.

C.  Only Members are entitled to participate in Website voting and the other benefits of Membership.  To become a Member, you must agree to the terms of a Membership Agreement which, as it may be updated from time-to-time, is posted at http://www.ourvoyce.com/members. 

3.  DEFINITIONS.  The following words when capitalized have the following meanings:

A.   "Confidential Information" consists of the not generally known ideas and processes contained in the database (the "Database") created by EfficiencyLab using the "thumbs up/thumbs down/neutral" votes and related actions by Members to the extent the Database is nonpublic.  Confidential Information does not include information already known to you at the time you receive it; or that you learn legally from a third party; or that is or becomes generally publicly known other than as a result of improper disclosure by you.

B.  "IP Rights" means all intellectual property rights as most broadly defined, including without limitation (1) copyrights, (2) Confidential Information, (3) trademarks, service marks, and related rights under the law of unfair competition; (4) the legal protections applicable to databases, and (5) all other intellectual property and analogous rights of every country and jurisdiction in the world.  

C.  The "EfficiencyLab Trademarks" are those trademarks and services marks used and owned by EfficiencyLab on or in connection with the Website consisting of: "EFFICENCYLAB," "MYVOYCE," "OURVOYCE," the "OURVOYCE" blue and red logo, the slogan "BE COUNTED." and the "red standing person" logo.  

D.   "Website Content" consists of all of the content of the Website excluding only Linked Content.  Website Content in particular includes the software that enables it to run, as it may from time-to-time change, including (A) images, designs, icons, images, and written and other materials; (B) HTML, code and scripts; (C) the Website's "look and feel" consisting of the Website's color combinations, button shapes, layout, design and all other graphical elements; and (D) the EfficiencyLab Trademarks.

E.  "Linked Content" consists of links to Wikipedia and to other third party websites, advertising (whether or not specifically identified as such) and other information for Website Visitors provided by third parties.

4.	WEBSITE CONTENT, OWNERSHIP.

A.  All Website Content, EfficiencyLab Trademarks and all IP Rights in and to them are and remain the sole property of EfficiencyLab, except:

1. The Website may include scripts, software libraries, and other incidental materials used under an appropriate license which EfficiencyLab may, from time-to-time.

2. The Website may display trademarks, logos, and images of products and/or packaging or other identifying materials of third parties which are used solely to facilitate the purposes of the Website.  APART FROM EFFICIENCYLAB TRADEMARKS, ALL OTHER TRADEMARKS ARE THE PROPERTIES OF THEIR RESPECTIVE OWNERS, AND ARE USED SOLELY FOR INDENTIFICATION, FACTUAL AND INFORMATIONAL PURPOSES, AND DO NOT (UNLESS STATED OTHERWISE) INDICATE SPONSORSHIP, APPROVAL, CONSENT OR COOPERATION BY THE OWNERS OF SUCH MARKS AND IMAGES.

3. Unless specifically stated otherwise, Linked Content is not owned or endorsed by EfficiencyLab, and its use does not indicate any third parties have endorsed or contributed to the Website or the Database.  EfficiencyLab gives no assurance it will investigate, or monitor changes in Linked Content, and you acknowledge and accept that you access and/or use such content solely at your own risk.  Linked Content may have associated Terms and Conditions and/or Privacy Policies.  You have the sole duty to investigate and, as appropriate, comply with such terms, conditions and policies (to the extent they may apply to you).

B.   EfficiencyLab owns all IP Rights in and to the Database.  To the extent the Database is nonpublic it constitutes the Confidential Information of EfficiencyLab.  You are permitted to use, copy, and publish limited excerpts of the Database, but only to the extent (1) they are publicly accessible to you as a Website Visitor, (2) they are not accessed using a script, spider, or other automated method of information gathering, and (3) such actions are non-commercial, and (4) your use is limited to the amount and duration necessary to comment, criticize, study or otherwise use the Website and Database within the limitations of "fair use."

5.  WARRANTIES; DISCLAIMERS, AND EFFICIENCYLAB's COPYRIGHT AGENT

A.  In the event, if any, the Website permits you to contribute comments, pictures or other information, your contributions will not infringe or violate the IP Rights or other rights of any third party.  Nothing in this Section (or in the TOS as a whole) grants you a right to contribute to the Website, and, in general, Website Visitors will be given little or no opportunity to contribute.

B.  In the event you believe The Website or Database may infringe any IP Right owned by you or by any third party, or may otherwise be illegal, you should provide notice thereof to EfficiencyLab's "Copyright Agent" at copyright@ourvoyce.com or by mail to EfficiencyLab using its address (above) ATT: Copyright Agent.  Such notice should, at a minimum, contain the information required by The Digital Millennium Copyright Act including the location and nature of the content, and the basis for your claim of illegality.  EfficiencyLab will endeavor to remove, revise, or post disclaimers or otherwise appropriately respond to such notice.

C. APART FROM SECTIONS 5.A and 5.B.:

1. The WEBSITE, DATABASE AND RELATED SERVICES AND CONTENT INCLUDING LINKED CONTENT (a) ARE USED BY YOU AT YOUR OWN RISK, WITHOUT WARRANTY OR OTHER ASSURANCE THAT THEY ARE "BUG FREE," SECURE, ERROR FREE, COMPLETE, ACCURATE, OR TIMELY, OR THAT ANY OF THEM WILL BE CONTINUOUSLY AVAILABLE; AND (b) ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED.

2. EFFICIENCYLAB SPECIFICALLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, AND FURTHER SPECIFICALLY DISCLAIMS ALL RESPONSIBILITY AND LIABILITY TO CORRRECT OR ACKNOWLEDGE ERRORS OR DEFECTS, OR TO CONTINUE TO PROVIDE ACCESS TO THE WEBSITE.

6.  LIMITATION ON LIABILITY.

A. The Website, and Database are provided for free principally as entertainment.  Accordingly EfficiencyLab does not intend any Website Visitor to rely on them for commercial or research purposes.  If you may wish to use any of them for commercial or research purpose, please contact EfficiencyLab.

B. EFFICIENCYLAB DISCLAIMS ALL LIABLITY FOR ALL DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND OTHER DAMAGES, INCLUDING LOSS OF REVENUE OR INCOME, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, EVEN IF GIVEN PRIOR NOTICE OF THE POSSIBILITY OF SUCH DAMAGES MAY ARISE OUT OF THE WEBSITE, DATABASE OR ANY RELATED SERVICES OR CONTENT, AND EVEN IF SUCH DAMAGES MAY BE DEEMED FORESEEABLE.

7.  INDEMNIFICATION.

You will indemnify and hold harmless EfficiencyLab and its service providers, employees, agents, officers, directors, and contractors, affiliates, content providers, successors and assigns from all liability, including liability consisting of all resulting loss, damages, judgments, awards, fines, costs, expenses, and attorneys' fees, to the extent arising out of (1) your breach of the TOS, (2) your violation of law, or (3) any violation by you of the rights of a third party. 

8.  TERM AND TERMINATION.

A.  EfficiencyLab may in its sole and absolute discretion, at any time and for any or no reason, suspend or terminate the TOS, and your access to the Website.  Your right to access to the Website also terminates automatically upon your violation of any material term or condition herein.

B.  All Sections of the TOS which by their express language or by their context are intended to survive the termination of the TOS shall survive such termination.  The following Sections will in any event survive termination for any reason: 4, 5, 6, 7, 8, and 9.

9.   MISCELLANEOUS.

A.  The TOS will be construed under the laws of the State of North Carolina applicable to contracts signed and fully performed there.  You irrevocably submit to the personal jurisdiction and exclusive venue of the state courts situated in Mecklenburg County, North Carolina, and the federal courts situated in the Western District of North Carolina of any dispute between you and EfficiencyLab. 

B.  If any provision of the TOS is held to be invalid or unenforceable with respect to a party, the remainder of the TOS, or the application of such provision to persons other than those to whom it is held invalid or unenforceable shall not be affected and each remaining provision of the TOS shall be valid and enforceable to the fullest extent permitted by law.

C.  EfficiencyLab may modify or amend the terms of the TOS at any time by posting a copy of the modified or amended agreement on the Website. You will be deemed to have agreed to such modification or amendment by continuing to use the Website following such posting.

D.  The TOS does not create any third party beneficiaries.

E.  The TOS (including the Privacy Policy, as provided above) constitutes the entire agreement of the Parties with respect to the Website and supersedes all prior and contemporaneous understandings regarding such subject matter. 
</pre>
</div>