%h2 How Does This Work?
  
%h3
  What is ourvoYce?
%h3
  Why should I participate?
%h3
  What is a Social Score?
%h3
  What is a Participation Rate?
%h3
  How are my votes being used?
%h3
  Can anyone else see my votes?
%h3
  Why are there no ads on the site?
%h3
  What do Revenue and Profit really mean?