%h2 Stats
%h3= @notice
=link_to "Zip Counts", :action => :zip_user_counts
%br
=link_to "State Counts", :action => :state_user_counts
%br
=link_to "National Age Counts", :action => :national_age_counts
%br
=link_to "State Population Counts", :action => :state_population_counts


